@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");

*,
body {
  font-family: "Space Grotesk", sans-serif;
}

body,
.v-card__text {
  color: #1d1d1d !important;
}

.v-btn,
.v-tab {
  text-transform: unset;
}

.text-small {
  font-size: 14px !important;
}

.v-toolbar__title,
.app-text-logo {
  font-family: "Jacques Francois Shadow", cursive;
}
